NEON_PROJECT_ID=your_project_id # Neon project ID available from Neon Console
NEON_HOST=your_neon_host # Neon host available from Neon Console
NEON_API_KEY=your_api_key # Neon API key available from Neon Console
NEON_BRANCH_ID=your_branch_id # Neon branch ID available from Neon Console. Typically for your main branch. From Neon Console > Branches > Main > Branch ID
